@inherits BootstrapComponentBase;

<button @onclick="Toggle" class="@CssClasses" type="button" data-bs-toggle="collapse" data-bs-target="@Target" aria-controls="@Target" aria-expanded="@Expanded.ToString()" aria-label="Toggle navigation">
	@if (ChildContent != null)
	{
		@ChildContent
	}
	else
	{
		<NavigationBarTogglerIcon />
	}
</button>