@inherits BootstrapComponentBase;

<button class="@CssClasses" type="button" data-bs-toggle="collapse" data-bs-target="@Target"
		aria-controls="@Target" aria-expanded="false" aria-label="Toggle navigation">
	@if (ChildContent != null) {
		@ChildContent
	} else {
		<NavigationBarTogglerIcon/>
	}
</button>